In [32]:
import pandas as pd
import pickle
import numpy as np

In [10]:
df = pickle.load(open('../datasets/clusters.pickle', 'rb'))
df = df.rename(columns={"Unnamed: 0": "job_id", "id": "resume_id"})

In [15]:
df

,job_id,resume_id,start_date,num_month,name,description,sex,birthday,edu_level,num_lang,skills,filename,name_err,name_norm,name_to_fix,bag_of_words,bag_of_words_desc,cluster,x,y
0,0,1,2010-01-01,61,"механик отдела эксплуатации,ст.мастер РММ","проверка технического состояния ,постановка на...",Мужчина,1971-09-30,3,2,NaN,data/resumes/c0bdccb200025d6b190039ed1f4d62637...,,механик отдел эксплуатация ст мастер,механик отдел эксплуатация старший мастер,"[-0.042076707, -1.0882155, -0.38035816, -0.589...","[5.654338, -1.2791694, 3.9257607, -4.022504, -...",42,-27.845549,5.348017
1,1,1,2008-05-01,32,оператор асфальтоукладчика,производство и укладка полотна асфальтобетона....,Мужчина,1971-09-30,3,2,NaN,data/resumes/c0bdccb200025d6b190039ed1f4d62637...,асфальтоукладчик,оператор,оператор асфальтоукладчик,"[-0.020386357, -0.4304574, -0.31297466, -0.512...","[0.47046685, -0.2477055, 0.24117915, -0.472985...",3,-72.343765,25.269884
2,2,1,1996-04-01,145,от слесаря до главного инженера,организация бесперебойной работы производства....,Мужчина,1971-09-30,3,2,NaN,data/resumes/c0bdccb200025d6b190039ed1f4d62637...,,слесарь главное инженер,слесарь главное инженер,"[-0.18156648, -0.49170238, 0.057426784, 0.2574...","[1.001217, 0.21448779, 0.96711546, -0.687405, ...",21,-48.108051,10.430761
3,3,2,2015-11-01,97,Агроном,"Проверка качества сбора огурца,\r\nРабота с пе...",Мужчина,1994-05-16,3,1,NaN,data/resumes/0022b6c30002332ae80039ed1f3330306...,,агроном,агроном,"[-0.04598738, 0.0077734906, 0.33906132, -0.147...","[0.6523544, 0.6185561, 1.2716287, -0.8732231, ...",16,11.256942,-93.762779
4,4,3,2022-02-01,19,Технолог по мясопереработке,Проведение переговоров с технологами и первыми...,Мужчина,1985-10-03,3,2,"обвалка.организация колбасного производства, К...",data/resumes/b0fec0a900027632fa0039ed1f756f434...,мясопереработка,технолог,технолог мясопереработка,"[0.021680942, 0.12573536, 0.25188488, -0.02121...","[1.8758911, 0.58935714, 0.6345902, 2.4669178, ...",2,30.244825,40.004307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4325,4325,1000,2010-09-01,27,Инженер-механик,Организация работы транспортного отдела.Выпуск...,Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,инженер механик,инженер механик,"[-0.13526846, -0.57611465, -0.3135809, -0.3647...","[7.123074, -4.81759, 1.2117515, -8.2680025, -5...",42,-24.957293,1.383003
4326,4326,1000,2008-04-01,30,Водитель-экспедитор,Обеспечение технически исправное состояние зак...,Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,водитель экспедитор,водитель экспедитор,"[-0.041988686, -1.1747255, -0.16020232, -0.379...","[2.9840817, -2.9549766, 2.5062642, -4.2517056,...",28,-91.380592,-41.574165
4327,4327,1000,2007-10-01,5,Мастер ПО,Организация бесперебойной работы техники за сч...,Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,мастер,мастер,"[-0.76281834, -0.14530335, -0.26517573, -0.059...","[6.193587, -3.5228848, 9.457505, -19.11328, -8...",1,-25.039104,-4.965388
4328,4328,1000,2004-08-01,39,Механик,"Выпуск на линию автотранспорта, оформление и в...",Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,механик,механик,"[-0.020386357, -0.4304574, -0.31297466, -0.402...","[0.87414664, -0.8231784, 0.07308251, -3.598594...",3,-58.670406,-22.301065
4329,4329,1000,2002-09-01,60,Механик-водитель,"Выпуск на линию автотранспорта, оформление и в...",Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,механик водитель,механик водитель,"[0.05007836, -1.2984254, -0.6184622, -0.949773...","[0.87414664, -0.8231784, 0.07308251, -3.598594...",28,-78.951187,1.073262

In [34]:
df.sort_values(["resume_id", "start_date"]).groupby("resume_id")["cluster"].agg(lambda x: x.tolist())

resume_id
1                            [21, 3, 42]
2                                   [16]
3                      [7, 9, 30, 37, 2]
4         [3, 4, 2, 20, 14, 2, 37, 1, 2]
5                       [30, 30, 30, 28]
                      ...
996                             [45, 28]
997                   [21, 5, 20, 2, 37]
998     [10, 20, 10, 30, 20, 20, 10, 30]
999                              [2, 45]
1000    [28, 3, 1, 28, 42, 1, 42, 1, 42]
Name: cluster, Length: 1000, dtype: object

In [59]:
dfs = df.sort_values(["resume_id", "start_date"])
dfs["prev_cluster"] = dfs.shift(1, fill_value=-1)["cluster"]
dfs = dfs[dfs["resume_id"] == dfs.shift(1)["resume_id"]]
dfs[["prev_cluster", "cluster"]].to_csv("../datasets/jobs_connections.csv", index=False)

In [58]:
dfs[["prev_cluster", "cluster"]].to_csv("../datasets/jobs_connections.csv", index=False)

      prev_cluster  cluster
1               21        3
0                3       42
7                7        9
6                9       30
5               30       37
...            ...      ...
4325            28       42
4324            42        1
4323             1       42
4322            42        1
4321             1       42

[3330 rows x 2 columns]

In [42]:
df

,job_id,resume_id,start_date,num_month,name,description,sex,birthday,edu_level,num_lang,skills,filename,name_err,name_norm,name_to_fix,bag_of_words,bag_of_words_desc,cluster,x,y
0,0,1,2010-01-01,61,"механик отдела эксплуатации,ст.мастер РММ","проверка технического состояния ,постановка на...",Мужчина,1971-09-30,3,2,NaN,data/resumes/c0bdccb200025d6b190039ed1f4d62637...,,механик отдел эксплуатация ст мастер,механик отдел эксплуатация старший мастер,"[-0.042076707, -1.0882155, -0.38035816, -0.589...","[5.654338, -1.2791694, 3.9257607, -4.022504, -...",42,-27.845549,5.348017
1,1,1,2008-05-01,32,оператор асфальтоукладчика,производство и укладка полотна асфальтобетона....,Мужчина,1971-09-30,3,2,NaN,data/resumes/c0bdccb200025d6b190039ed1f4d62637...,асфальтоукладчик,оператор,оператор асфальтоукладчик,"[-0.020386357, -0.4304574, -0.31297466, -0.512...","[0.47046685, -0.2477055, 0.24117915, -0.472985...",3,-72.343765,25.269884
2,2,1,1996-04-01,145,от слесаря до главного инженера,организация бесперебойной работы производства....,Мужчина,1971-09-30,3,2,NaN,data/resumes/c0bdccb200025d6b190039ed1f4d62637...,,слесарь главное инженер,слесарь главное инженер,"[-0.18156648, -0.49170238, 0.057426784, 0.2574...","[1.001217, 0.21448779, 0.96711546, -0.687405, ...",21,-48.108051,10.430761
3,3,2,2015-11-01,97,Агроном,"Проверка качества сбора огурца,\r\nРабота с пе...",Мужчина,1994-05-16,3,1,NaN,data/resumes/0022b6c30002332ae80039ed1f3330306...,,агроном,агроном,"[-0.04598738, 0.0077734906, 0.33906132, -0.147...","[0.6523544, 0.6185561, 1.2716287, -0.8732231, ...",16,11.256942,-93.762779
4,4,3,2022-02-01,19,Технолог по мясопереработке,Проведение переговоров с технологами и первыми...,Мужчина,1985-10-03,3,2,"обвалка.организация колбасного производства, К...",data/resumes/b0fec0a900027632fa0039ed1f756f434...,мясопереработка,технолог,технолог мясопереработка,"[0.021680942, 0.12573536, 0.25188488, -0.02121...","[1.8758911, 0.58935714, 0.6345902, 2.4669178, ...",2,30.244825,40.004307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4325,4325,1000,2010-09-01,27,Инженер-механик,Организация работы транспортного отдела.Выпуск...,Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,инженер механик,инженер механик,"[-0.13526846, -0.57611465, -0.3135809, -0.3647...","[7.123074, -4.81759, 1.2117515, -8.2680025, -5...",42,-24.957293,1.383003
4326,4326,1000,2008-04-01,30,Водитель-экспедитор,Обеспечение технически исправное состояние зак...,Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,водитель экспедитор,водитель экспедитор,"[-0.041988686, -1.1747255, -0.16020232, -0.379...","[2.9840817, -2.9549766, 2.5062642, -4.2517056,...",28,-91.380592,-41.574165
4327,4327,1000,2007-10-01,5,Мастер ПО,Организация бесперебойной работы техники за сч...,Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,мастер,мастер,"[-0.76281834, -0.14530335, -0.26517573, -0.059...","[6.193587, -3.5228848, 9.457505, -19.11328, -8...",1,-25.039104,-4.965388
4328,4328,1000,2004-08-01,39,Механик,"Выпуск на линию автотранспорта, оформление и в...",Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,механик,механик,"[-0.020386357, -0.4304574, -0.31297466, -0.402...","[0.87414664, -0.8231784, 0.07308251, -3.598594...",3,-58.670406,-22.301065
4329,4329,1000,2002-09-01,60,Механик-водитель,"Выпуск на линию автотранспорта, оформление и в...",Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,механик водитель,механик водитель,"[0.05007836, -1.2984254, -0.6184622, -0.949773...","[0.87414664, -0.8231784, 0.07308251, -3.598594...",28,-78.951187,1.073262

In [44]:
df.shift(-1)

,job_id,resume_id,start_date,num_month,name,description,sex,birthday,edu_level,num_lang,skills,filename,name_err,name_norm,name_to_fix,bag_of_words,bag_of_words_desc,cluster,x,y
0,1.0,1.0,2008-05-01,32.0,оператор асфальтоукладчика,производство и укладка полотна асфальтобетона....,Мужчина,1971-09-30,3.0,2.0,NaN,data/resumes/c0bdccb200025d6b190039ed1f4d62637...,асфальтоукладчик,оператор,оператор асфальтоукладчик,"[-0.020386357, -0.4304574, -0.31297466, -0.512...","[0.47046685, -0.2477055, 0.24117915, -0.472985...",3.0,-72.343765,25.269884
1,2.0,1.0,1996-04-01,145.0,от слесаря до главного инженера,организация бесперебойной работы производства....,Мужчина,1971-09-30,3.0,2.0,NaN,data/resumes/c0bdccb200025d6b190039ed1f4d62637...,,слесарь главное инженер,слесарь главное инженер,"[-0.18156648, -0.49170238, 0.057426784, 0.2574...","[1.001217, 0.21448779, 0.96711546, -0.687405, ...",21.0,-48.108051,10.430761
2,3.0,2.0,2015-11-01,97.0,Агроном,"Проверка качества сбора огурца,\r\nРабота с пе...",Мужчина,1994-05-16,3.0,1.0,NaN,data/resumes/0022b6c30002332ae80039ed1f3330306...,,агроном,агроном,"[-0.04598738, 0.0077734906, 0.33906132, -0.147...","[0.6523544, 0.6185561, 1.2716287, -0.8732231, ...",16.0,11.256942,-93.762779
3,4.0,3.0,2022-02-01,19.0,Технолог по мясопереработке,Проведение переговоров с технологами и первыми...,Мужчина,1985-10-03,3.0,2.0,"обвалка.организация колбасного производства, К...",data/resumes/b0fec0a900027632fa0039ed1f756f434...,мясопереработка,технолог,технолог мясопереработка,"[0.021680942, 0.12573536, 0.25188488, -0.02121...","[1.8758911, 0.58935714, 0.6345902, 2.4669178, ...",2.0,30.244825,40.004307
4,5.0,3.0,2018-03-01,48.0,Менеджер по работе с клиентами,"Продажа продуктов выпускаемые компанией,ведени...",Мужчина,1985-10-03,3.0,2.0,"обвалка.организация колбасного производства, К...",data/resumes/b0fec0a900027632fa0039ed1f756f434...,,менеджер работа клиент,менеджер работа клиент,"[-0.9849292, -0.451201, 0.106007874, -0.091456...","[0.7786992, 2.076879, -0.06977838, 1.9565935, ...",37.0,50.731121,-26.246208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4325,4326.0,1000.0,2008-04-01,30.0,Водитель-экспедитор,Обеспечение технически исправное состояние зак...,Мужчина,1980-05-27,3.0,3.0,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,водитель экспедитор,водитель экспедитор,"[-0.041988686, -1.1747255, -0.16020232, -0.379...","[2.9840817, -2.9549766, 2.5062642, -4.2517056,...",28.0,-91.380592,-41.574165
4326,4327.0,1000.0,2007-10-01,5.0,Мастер ПО,Организация бесперебойной работы техники за сч...,Мужчина,1980-05-27,3.0,3.0,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,мастер,мастер,"[-0.76281834, -0.14530335, -0.26517573, -0.059...","[6.193587, -3.5228848, 9.457505, -19.11328, -8...",1.0,-25.039104,-4.965388
4327,4328.0,1000.0,2004-08-01,39.0,Механик,"Выпуск на линию автотранспорта, оформление и в...",Мужчина,1980-05-27,3.0,3.0,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,механик,механик,"[-0.020386357, -0.4304574, -0.31297466, -0.402...","[0.87414664, -0.8231784, 0.07308251, -3.598594...",3.0,-58.670406,-22.301065
4328,4329.0,1000.0,2002-09-01,60.0,Механик-водитель,"Выпуск на линию автотранспорта, оформление и в...",Мужчина,1980-05-27,3.0,3.0,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,механик водитель,механик водитель,"[0.05007836, -1.2984254, -0.6184622, -0.949773...","[0.87414664, -0.8231784, 0.07308251, -3.598594...",28.0,-78.951187,1.073262
4329,NaN,NaN,None,NaN,None,None,None,None,NaN,NaN,None,None,None,None,None,None,None,NaN,NaN,NaN

In [46]:
df[df["resume_id"] == df.shift(1)["resume_id"]]

,job_id,resume_id,start_date,num_month,name,description,sex,birthday,edu_level,num_lang,skills,filename,name_err,name_norm,name_to_fix,bag_of_words,bag_of_words_desc,cluster,x,y
1,1,1,2008-05-01,32,оператор асфальтоукладчика,производство и укладка полотна асфальтобетона....,Мужчина,1971-09-30,3,2,NaN,data/resumes/c0bdccb200025d6b190039ed1f4d62637...,асфальтоукладчик,оператор,оператор асфальтоукладчик,"[-0.020386357, -0.4304574, -0.31297466, -0.512...","[0.47046685, -0.2477055, 0.24117915, -0.472985...",3,-72.343765,25.269884
2,2,1,1996-04-01,145,от слесаря до главного инженера,организация бесперебойной работы производства....,Мужчина,1971-09-30,3,2,NaN,data/resumes/c0bdccb200025d6b190039ed1f4d62637...,,слесарь главное инженер,слесарь главное инженер,"[-0.18156648, -0.49170238, 0.057426784, 0.2574...","[1.001217, 0.21448779, 0.96711546, -0.687405, ...",21,-48.108051,10.430761
5,5,3,2018-03-01,48,Менеджер по работе с клиентами,"Продажа продуктов выпускаемые компанией,ведени...",Мужчина,1985-10-03,3,2,"обвалка.организация колбасного производства, К...",data/resumes/b0fec0a900027632fa0039ed1f756f434...,,менеджер работа клиент,менеджер работа клиент,"[-0.9849292, -0.451201, 0.106007874, -0.091456...","[0.7786992, 2.076879, -0.06977838, 1.9565935, ...",37,50.731121,-26.246208
6,6,3,2015-07-01,33,Переработчик птицы и обвальщик птицы в обвалоч...,"Обвалка и жиловка свиных полутуш,обвалка птицы.",Мужчина,1985-10-03,3,2,"обвалка.организация колбасного производства, К...",data/resumes/b0fec0a900027632fa0039ed1f756f434...,переработчик обвальщик обвалочный,птица птица отделение убойно перерабатывающий ...,переработчик птица обвальщик птица обвалочный ...,"[0.13650805, -0.3616032, 0.9634609, 0.6964295,...","[-1.0516505, 0.70776427, 0.48510057, 0.3361928...",30,66.132553,7.531878
7,7,3,2011-11-01,33,Мастер технологического отделений колбасного цеха,"Контроль качества входного сырья,учет материал...",Мужчина,1985-10-03,3,2,"обвалка.организация колбасного производства, К...",data/resumes/b0fec0a900027632fa0039ed1f756f434...,,мастер технологический отделение колбасный цех,мастер технологический отделение колбасный цех,"[-0.067316025, -0.6484527, 0.08109555, 0.32564...","[2.580905, -2.6864426, 1.5988616, 1.3529274, -...",9,20.083313,47.705097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4325,4325,1000,2010-09-01,27,Инженер-механик,Организация работы транспортного отдела.Выпуск...,Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,инженер механик,инженер механик,"[-0.13526846, -0.57611465, -0.3135809, -0.3647...","[7.123074, -4.81759, 1.2117515, -8.2680025, -5...",42,-24.957293,1.383003
4326,4326,1000,2008-04-01,30,Водитель-экспедитор,Обеспечение технически исправное состояние зак...,Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,водитель экспедитор,водитель экспедитор,"[-0.041988686, -1.1747255, -0.16020232, -0.379...","[2.9840817, -2.9549766, 2.5062642, -4.2517056,...",28,-91.380592,-41.574165
4327,4327,1000,2007-10-01,5,Мастер ПО,Организация бесперебойной работы техники за сч...,Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,мастер,мастер,"[-0.76281834, -0.14530335, -0.26517573, -0.059...","[6.193587, -3.5228848, 9.457505, -19.11328, -8...",1,-25.039104,-4.965388
4328,4328,1000,2004-08-01,39,Механик,"Выпуск на линию автотранспорта, оформление и в...",Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,механик,механик,"[-0.020386357, -0.4304574, -0.31297466, -0.402...","[0.87414664, -0.8231784, 0.07308251, -3.598594...",3,-58.670406,-22.301065
4329,4329,1000,2002-09-01,60,Механик-водитель,"Выпуск на линию автотранспорта, оформление и в...",Мужчина,1980-05-27,3,3,"Автомобильные грузоперевозки, Ремонтные работы...",data/resumes/dc30b54b00015ecd0a0039ed1f48796a5...,,механик водитель,механик водитель,"[0.05007836, -1.2984254, -0.6184622, -0.949773...","[0.87414664, -0.8231784, 0.07308251, -3.598594...",28,-78.951187,1.073262