In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("../datasets/jobs.csv")

In [8]:
df

,job_id,resume_id,start_date,num_month,name,description,sex,birthday,edu_level,num_lang,skills,filename
0,1,8,2018-08-01,6,мастер призводственного участка,организация и контроль основных видов работ в ...,Мужчина,1978-02-01,3,1,"Управление производством, Организаторские навы...",data/resumes/50ba3a5f00050217530039ed1f63536b6...
1,2,8,2011-08-01,24,Мастер производственного участка,мастер производственного участка ООО «Лузинско...,Мужчина,1978-02-01,3,1,"Управление производством, Организаторские навы...",data/resumes/50ba3a5f00050217530039ed1f63536b6...
2,3,8,2010-03-01,9,начальник отдела,начальник отдела защиты растений. ФГУ «Россель...,Мужчина,1978-02-01,3,1,"Управление производством, Организаторские навы...",data/resumes/50ba3a5f00050217530039ed1f63536b6...
3,4,8,2008-04-01,24,ведущий агроном,Опыт работы: 04.2008г.- 03.2010г. - ведущий а...,Мужчина,1978-02-01,3,1,"Управление производством, Организаторские навы...",data/resumes/50ba3a5f00050217530039ed1f63536b6...
4,5,8,1997-11-01,26,Механик по ремонту сх техники и оборудования,организация и контроль за проведением плановых...,Мужчина,1978-02-01,3,1,"Управление производством, Организаторские навы...",data/resumes/50ba3a5f00050217530039ed1f63536b6...
...,...,...,...,...,...,...,...,...,...,...,...,...
4325,4326,991,2017-04-01,9,Продавец-консультант,Консультация покупателей по продукции зоомагаз...,Женщина,1990-10-07,3,2,"Умение работать в команде, Работа с документам...",data/resumes/88229d7c0003e6d71e0039ed1f3250443...
4326,4327,991,2016-05-01,11,Ветеринарный врач,"Лечение животных, составление противоэпизоотич...",Женщина,1990-10-07,3,2,"Умение работать в команде, Работа с документам...",data/resumes/88229d7c0003e6d71e0039ed1f3250443...
4327,4328,991,2014-09-01,10,Ветеринарный врач,Лечение и кастрация животных на участке доращи...,Женщина,1990-10-07,3,2,"Умение работать в команде, Работа с документам...",data/resumes/88229d7c0003e6d71e0039ed1f3250443...
4328,4329,991,2013-06-01,15,Ветеринарный врач,"Лечение животных, составление противоэпизоотич...",Женщина,1990-10-07,3,2,"Умение работать в команде, Работа с документам...",data/resumes/88229d7c0003e6d71e0039ed1f3250443...
4329,4330,991,2005-01-01,46,Промоутер,"Раздача листовок, участие в промоакциях, работ...",Женщина,1990-10-07,3,2,"Умение работать в команде, Работа с документам...",data/resumes/88229d7c0003e6d71e0039ed1f3250443...

In [24]:
df["name"] = df["name"].str.lower()

In [51]:
list(df[df["birthday"] > "2003-01-01"]["filename"])

['Unnamed: 0',
 'id',
 'start_date',
 'num_month',
 'name',
 'description',
 'sex',
 'birthday',
 'edu_level',
 'num_lang',
 'skills',
 'filename',
 'len']

In [45]:
df["len"] = df["name"].apply(len)

In [50]:
df["len_skills"] = df["skills"].apply(lambda x: len(x.split(", ")))

AttributeError: 'float' object has no attribute 'split'