In [14]:
import pandas as pd
import pickle
import numpy as np
from sklearn.metrics.pairwise import cosine_distances, pairwise_distances, cosine_similarity
from sklearn.cluster import AgglomerativeClustering

In [15]:
df = pickle.load(open('../datasets/resumes_vec.pickle', 'rb'))

In [16]:
df["l"] = df["vector"].str.len()

In [17]:
df["l"]

0         NaN
1       300.0
2         NaN
3       300.0
4       300.0
        ...
4697    300.0
4698      NaN
4699      NaN
4700      NaN
4701    300.0
Name: l, Length: 4702, dtype: float64

In [7]:

con["avg_cluster_coords"] = con.groupby("cluster_id")["coords"].transform("mean")
# con["dif_coords"] = con.apply(lambda x: cosine_distances([x["coords"]], [x["avg_cluster_coords"]])[0, 0], axis=1)
# con["center_cluster_coord"] = con.groupby("cluster")["dif_coords"].transform("min")
# con

In [8]:
con

,job_id,resume_id,start_date,num_month,name,description,sex,birthday,edu_level,num_lang,...,filename,normalized_name,normalized_description,name_vec,description_vec,coords,cluster_id,x,y,avg_cluster_coords
0,1,1,2010-01-01,61,"механик отдела эксплуатации,ст.мастер РММ","проверка технического состояния ,постановка на...",Мужчина,1971-09-30,3,2,...,data/resumes/c0bdccb200025d6b190039ed1f4d62637...,механик отдел эксплуатация старший мастер рмм,проверка технический состояние постановка ремо...,"[-0.042076707, -1.0882155, -0.38035816, -0.589...","[4.152812, -0.95590234, 3.2002866, -4.2161546,...","[3.732045, -11.838057, -0.6032951, -10.109909,...",48,-5.773136,-44.971062,"[7.212453, -9.202446, 7.0828776, -5.5741467, -..."
1,2,1,2008-05-01,32,оператор асфальтоукладчика,производство и укладка полотна асфальтобетона....,Мужчина,1971-09-30,3,2,...,data/resumes/c0bdccb200025d6b190039ed1f4d62637...,оператор асфальтоукладчик,производство укладка полотно асфальтобетон орг...,"[-0.020386357, -0.4304574, -0.31297466, -0.512...","[0.47046685, -0.2477055, 0.24117915, -0.472985...","[0.2666033, -4.5522795, -2.8885674, -5.59405, ...",9,23.864523,-70.452446,"[-0.21299769, -1.7528611, 1.2348595, -3.953736..."
2,3,1,1996-04-01,145,от слесаря до главного инженера,организация бесперебойной работы производства....,Мужчина,1971-09-30,3,2,...,data/resumes/c0bdccb200025d6b190039ed1f4d62637...,слесарь главное инженер,организация бесперебойный работа производство ...,"[-0.18156648, -0.49170238, 0.057426784, 0.2574...","[1.001217, 0.21448779, 0.96711546, -0.687405, ...","[-0.81444776, -4.7025356, 1.5413833, 1.8869599...",37,-13.794121,-58.065784,"[0.1727562, -8.837288, 0.49338844, -5.161255, ..."
3,4,10,2018-05-01,67,Ветеринарный врач,"Консультации по ветеринарным препаратам, зоото...",Женщина,1986-10-12,3,1,...,data/resumes/728ff2710003f61aa10039ed1f6270353...,ветеринарный врач,консультация ветеринарный препарат зоотовар ко...,"[0.1734277, -0.0807886, 0.6755447, -0.37754184...","[1.2086298, 0.17931867, 0.8044654, -0.87600064...","[2.9429069, -0.62856734, 7.559912, -4.6514187,...",2,82.085342,-41.389374,"[2.888105, -1.2002162, 8.56979, -5.1202655, 3...."
4,5,10,2017-04-01,12,Начальник цеха,Работа на немецком оборудовании Schauer.\n\nФо...,Женщина,1986-10-12,3,1,...,data/resumes/728ff2710003f61aa10039ed1f6270353...,начальник цех,работа немецкий оборудование schauer формирова...,"[-0.06572941, -0.583158, -0.10050812, 0.179669...","[8.612949, -1.7595438, 4.2804494, 0.3973391, -...","[7.955655, -7.591124, 3.2753682, 2.194029, -12...",6,-25.876118,19.793436,"[5.0642242, -2.9356284, 5.6046853, 1.8428599, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4325,4326,991,2005-01-01,46,Промоутер,"Раздача листовок, участие в промоакциях, работ...",Женщина,1990-10-07,3,2,...,data/resumes/88229d7c0003e6d71e0039ed1f3250443...,промоутер,раздача листовка участие промоакция работа кос...,"[0.11082055, 0.05672396, 0.745911, -0.28232726...","[0.4483528, 0.67150986, 0.6795239, -1.4573374,...","[1.5565583, 1.2387495, 8.138634, -4.28061, -1....",33,49.823166,47.863205,"[-0.14178886, -0.14504555, 1.7264421, -1.97967..."
4326,4327,973,1998-11-01,156,Главный агроном,Руководство агрономической службой предприятия...,Мужчина,1959-04-02,3,1,...,data/resumes/ac6c64de00023edc7f0039ed1f4d46575...,главный агроном,руководство агрономический служба предприятие ...,"[-0.24992964, -0.5350297, 0.51174223, -0.19078...","[1.5083084, 5.713401, 3.262262, 1.288144, -3.2...","[-0.990988, 0.36310387, 8.379684, -0.61968327,...",25,-77.464340,4.358965,"[0.48969144, -4.809021, 6.8116326, -0.9963972,..."
4327,4328,973,1992-04-01,80,"Управляющий отделением "" Овощное """,Руководство коллективом от 30 человек.Выращива...,Мужчина,1959-04-02,3,1,...,data/resumes/ac6c64de00023edc7f0039ed1f4d46575...,управлять отделение овощной,руководство коллектив человек выращивание хран...,"[1.254476, -1.6042352, 0.099391125, 0.62751126...","[1.2986778, -0.060361087, -0.2462141, 0.421917...","[13.843437, -16.102713, 0.7476972, 6.6970296, ...",0,-52.532200,34.704903,"[7.8310847, -4.7499433, 2.310431, -2.3179326, ..."
4328,4329,996,2017-11-01,57,Пассажирские перевозки,Водитель категории D,Мужчина,1988-08-14,3,1,...,data/resumes/2b2219960002590f020039ed1f6e7a324...,пассажирский перевозка,водитель категория d,"[0.7533477, 0.4208148, 0.37140873, -0.2812522,...","[-0.039751023, -0.24511722, -0.3403816, -1.310...","[7.493726, 3.9630308, 3.3737056, -4.122926, -0...",29,46.030376,51.592953,"[2.293283, -11.770743, -1.7811137, -7.7475553,..."
4329,4330,996,2013-05-01,18,Начальник транспортного отдела,в мои обязанности входило следующее:доведение ...,Мужчина,1988-08-14,3,1,...,data/resumes/2b2219960002590f020039ed1f6e7a324...,начальник транспортный отдел,мой обязанность входить следующий доведение по...,"[0.7427677, -0.53802526, 0.4901434, 0.7940879,...","[2.9838314, -3.0443974, 3.4633327, -2.454177, ...","[10.411509, -8.42465, 8.364767, 5.486702, -4.8...",7,-24.294918,-8.811097,"[5.1351485, -4.326868, 5.924676, 0.9412049, -3..."

In [157]:


group = con.groupby("cluster")["dif_coords"].transform("idxmin")
con["cluster_name"] = con.loc[group, "name"].values
con

,prev_cluster,prev_name,prev_coords,cluster,name,coords,avg_cluster_coords,dif_coords,center_cluster_coord,cluster_name
1,21,от слесаря до главного инженера,"[-0.81444776, -4.7025356, 1.5413833, 1.8869599...",3,оператор асфальтоукладчика,"[0.2666033, -4.5522795, -2.8885674, -5.59405, ...","[0.11424624, -3.029227, -0.06414795, -4.729884...",0.267895,0.098473,Механик
0,3,оператор асфальтоукладчика,"[0.2666033, -4.5522795, -2.8885674, -5.59405, ...",42,"механик отдела эксплуатации,ст.мастер РММ","[5.233571, -12.161324, 0.12217903, -9.916259, ...","[7.296936, -12.055227, 5.4354887, -8.12402, -1...",0.119992,0.034064,Главный механик
7,7,Обвальщик мяса,"[-5.9825816, -0.8395363, 1.3722229, 0.22512794...",9,Мастер технологического отделений колбасного цеха,"[1.9077446, -9.17097, 2.409817, 4.609332, -15....","[4.6846175, -6.1497493, 4.887215, -0.9802385, ...",0.285657,0.098385,Мастер технического участка
6,9,Мастер технологического отделений колбасного цеха,"[1.9077446, -9.17097, 2.409817, 4.609332, -15....",30,Переработчик птицы и обвальщик птицы в обвалоч...,"[0.31342995, -2.908268, 10.11971, 7.3004875, -...","[-0.024330147, -0.21694782, 2.2049496, -1.8586...",0.771030,0.251892,Помощник бурильщика
5,30,Переработчик птицы и обвальщик птицы в обвалоч...,"[0.31342995, -2.908268, 10.11971, 7.3004875, -...",37,Менеджер по работе с клиентами,"[-9.070593, -2.435131, 0.99030036, 1.042024, -...","[-2.4014719, 3.039353, 5.0922804, 1.8060148, 4...",0.156006,0.033637,Менеджер по продажам
...,...,...,...,...,...,...,...,...,...,...
4325,28,Водитель-экспедитор,"[2.564195, -14.702232, 0.90424097, -8.0462265,...",42,Инженер-механик,"[5.7703896, -10.578737, -1.9240575, -11.915972...","[7.296936, -12.055227, 5.4354887, -8.12402, -1...",0.043714,0.034064,Главный механик
4324,42,Инженер-механик,"[5.7703896, -10.578737, -1.9240575, -11.915972...",1,Ведущий инженер ( транспортный отдел),"[14.094988, -7.0104322, 10.873726, -5.639429, ...","[11.421739, -3.5877633, 11.862456, -3.1656532,...",0.098924,0.044626,Начальник транспортного отдела
4323,1,Ведущий инженер ( транспортный отдел),"[14.094988, -7.0104322, 10.873726, -5.639429, ...",42,Главный механик,"[7.506257, -9.86569, 1.2452697, -12.17256, -3....","[7.296936, -12.055227, 5.4354887, -8.12402, -1...",0.038816,0.034064,Главный механик
4322,42,Главный механик,"[7.506257, -9.86569, 1.2452697, -12.17256, -3....",1,Зам.директора по транспорту и логистике,"[12.377137, -10.111075, 11.587896, -3.2304363,...","[11.421739, -3.5877633, 11.862456, -3.1656532,...",0.058052,0.044626,Начальник транспортного отдела
4321,1,Зам.директора по транспорту и логистике,"[12.377137, -10.111075, 11.587896, -3.2304363,...",42,Механик,"[19.788818, -28.825314, 7.8420544, -16.689583,...","[7.296936, -12.055227, 5.4354887, -8.12402, -1...",0.083708,0.034064,Главный механик

In [163]:
con.groupby(["cluster", "cluster_name", "prev_cluster"]).size()

cluster  cluster_name                                                                                                                                                                                                                                                                                   prev_cluster
0        Региональный директор по продажам                                                                                                                                                                                                                                                              0               20
                                                                                                                                                                                                                                                                                                        1                4
                                                                                                                                                                                                                                                                                                        2                8
                                                                                                                                                                                                                                                                                                        3                3
                                                                                                                                                                                                                                                                                                        4                5
                                                                                                                                                                                                                                                                                                                        ..
48       Старший  научный сотрудник                                                                                                                                                                                                                                                                     37               1
                                                                                                                                                                                                                                                                                                        40               1
                                                                                                                                                                                                                                                                                                        41               1
                                                                                                                                                                                                                                                                                                        48               4
49       Ведущий специалист отдела надзора за обеспечением здоровья животных и переданных полномочий службы по ветеринарному надзору Красноярского края (классный чин государственной гражданской службы Красноярского края - референт государственной гражданской службы Красноярского края 2 класса)  9                1
Length: 892, dtype: int64