In [1]:
import pandas as pd
import os
print(os.getcwd())

/home/staffeev/ProgrammingProjects/jobs_classification/datasets

In [3]:
df = pd.read_csv("jobs.csv")

In [4]:
df

,Unnamed: 0,id,start_date,num_month,name,description,sex,birthday,edu_level,num_lang,skills,filename
0,0,7,2016-08-01,88,Главный механик,"Транспортное обеспечение предприятия, эксплуат...",Мужчина,1970-09-20,3,1,"Ведение документации, Заключение договоров, Во...",data/resumes/41721a580003030a240039ed1f4e51314...
1,1,7,2015-07-01,13,Начальник автоколонны,Обеспечение разных организация транспортом дл...,Мужчина,1970-09-20,3,1,"Ведение документации, Заключение договоров, Во...",data/resumes/41721a580003030a240039ed1f4e51314...
2,2,7,2007-05-01,99,Главный механик,"Транспортное обеспечение предприятия, эксплуат...",Мужчина,1970-09-20,3,1,"Ведение документации, Заключение договоров, Во...",data/resumes/41721a580003030a240039ed1f4e51314...
3,3,7,1995-01-01,85,Инженер-механик,"Транспортное обеспечение предприятия , ремонт ...",Мужчина,1970-09-20,3,1,"Ведение документации, Заключение договоров, Во...",data/resumes/41721a580003030a240039ed1f4e51314...
4,4,2,2015-11-01,97,Агроном,"Проверка качества сбора огурца,\nРабота с перв...",Мужчина,1994-05-16,3,1,NaN,data/resumes/0022b6c30002332ae80039ed1f3330306...
...,...,...,...,...,...,...,...,...,...,...,...,...
4325,4325,972,2010-02-01,13,Риэлтор,Поиск клиентов по старым базам. Поиск и завлеч...,Мужчина,1991-09-27,3,2,"Высокая скорость работы, Коммуникабельность, Л...",data/resumes/1cc0f2890001f270dd0039ed1f5077615...
4326,4326,979,2015-08-01,100,Начальник транспортного цеха,Организация работы транспортного цеха: своевре...,Мужчина,1971-08-08,3,1,"Технический контроль производства, Деловая ком...",data/resumes/f409e58f0002975d3c0039ed1f4355663...
4327,4327,979,2005-01-01,126,начальник механо-энергетического отдела,Организация ремонта и обслуживания технологич...,Мужчина,1971-08-08,3,1,"Технический контроль производства, Деловая ком...",data/resumes/f409e58f0002975d3c0039ed1f4355663...
4328,4328,979,1992-02-01,153,бригадир животноводческого хозяйства,Организовывал работу животноводческого комплек...,Мужчина,1971-08-08,3,1,"Технический контроль производства, Деловая ком...",data/resumes/f409e58f0002975d3c0039ed1f4355663...
4329,4329,994,1999-10-01,290,врач ветеринарной медицины,1999 г ГП УО ППЗ им Фрунзе (Государственное пр...,Женщина,1975-09-12,3,1,*15 лет работы в птицеводческом хозяйстве яичн...,data/resumes/4490df3000024068260039ed1f7954474...

In [24]:
df["name"] = df["name"].str.lower()

In [51]:
list(df[df["birthday"] > "2003-01-01"]["filename"])

['Unnamed: 0',
 'id',
 'start_date',
 'num_month',
 'name',
 'description',
 'sex',
 'birthday',
 'edu_level',
 'num_lang',
 'skills',
 'filename',
 'len']

In [45]:
df["len"] = df["name"].apply(len)

In [50]:
df["len_skills"] = df["skills"].apply(lambda x: len(x.split(", ")))

AttributeError: 'float' object has no attribute 'split'